@font-face {
  font-family: pokeFont;
  src: url("./Pokemon_Hollow.ttf");
}

#locationPage {
  background-color: rgb(70, 196, 70);
  width: 100vw;
}

.title {
  font-family: pokeFont;
  font-size: 80px;
  color: black;
  font-weight: bold;
  margin: auto;
  text-align: center;
}

#locations {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.location {
  background-color: azure;
  height: 250px;
  width: 300px;
  border-radius: 20px;
  border-style: solid;
  border-color: black;
  margin: 10px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.locationName {
  margin-top: 50px;
}

.locationButton {
  width: 100px;
  border-radius: 20px;
  border-style: solid;
  border-color: rgb(29, 29, 83);
  border-width: 2px;
  margin-bottom: 10px;
  font-size: 20px;
  background-color: aliceblue;
}

.locationButton:hover {
  border-color: rgb(20, 79, 0);
  background-color: rgb(188, 254, 217);
  color: rgb(20, 79, 0);
}

.areaButton {
  width: 150px;
  border-radius: 20px;
  border-style: solid;
  border-color: rgb(29, 29, 83);
  border-width: 2px;
  margin-bottom: 10px;
  font-size: 20px;
  background-color: aliceblue;
}

.areaButton:hover {
  border-color: rgb(20, 79, 0);
  background-color: rgb(188, 254, 217);
  color: rgb(20, 79, 0);
}

#areaPage {
  background-color: rgb(70, 196, 70);
  width: 100vw;
  height: 100vh;
  text-align: center;
}

#areas {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.back {
  margin-top: 20px;
}

#encounterPage {
  width: 100vw;
  height: 100vh;
  background-image: url("https://i.pinimg.com/originals/2b/3b/04/2b3b04771ccca26c3dd96d781b0117ca.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.pokeFight{
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

img {
  width: 150px;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

h2 {
  margin: 0;
  font-size: 20px;
}

.pokemon {
  background-color: rgb(255, 255, 255);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.stats {
  margin: 20px
}

.pokemonTypes {
  margin-top: 10px;
  display: flex;
}

.water {
  background-color: rgb(83, 137, 254);
  border-radius: 30px;
  text-align: center;
  padding: 5px;
  color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

[data-class="water"] {
  background-color: rgb(160, 209, 255);
}

.ground {
  background-color: rgb(79, 54, 0);
  border-radius: 30px;
  text-align: center;
  padding: 5px;
  color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

[data-class="ground"] {
  background-color: rgb(77, 70, 54);
}

.electric {
  background-color: rgb(255, 242, 0);
  border-radius: 30px;
  text-align: center;
  padding: 5px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

[data-class="electric"] {
  background-color: rgb(244, 255, 170);
}

.fire {
  background-color: rgb(255, 64, 0);
  border-radius: 30px;
  text-align: center;
  color: white;
  padding: 5px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

[data-class="fire"] {
  background-color: rgb(254, 180, 148);
}

.steel {
  background-color: rgb(41, 53, 63);
  border-radius: 30px;
  text-align: center;
  padding: 5px;
  color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

[data-class="steel"] {
  background-color: rgb(114, 131, 145);
}

.psychic {
  background-color: rgb(100, 0, 91);
  border-radius: 30px;
  text-align: center;
  padding: 5px;
  color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

[data-class="psychic"] {
  background-color: rgb(122, 97, 119);
}

.poison {
  background-color: rgb(195, 0, 179);
  border-radius: 30px;
  text-align: center;
  padding: 5px;
  color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

[data-class="poison"] {
  background-color: rgb(193, 111, 185)
}

.rock {
  background-color: rgb(125, 125, 125);
  border-radius: 30px;
  ;
  text-align: center;
  padding: 5px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

[data-class="rock"] {
  background-color: rgb(222, 221, 221);
}

.flying {
  background-color: rgb(185, 255, 255);
  border-radius: 30px;
  text-align: center;
  padding: 5px;
  color: black;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

[data-class="flying"] {
  background-color: rgb(226, 255, 255);
}

.fairy {
  background-color: rgb(255, 203, 239);
  border-radius: 30px;
  text-align: center;
  padding: 5px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

[data-class="fairy"] {
  background-color: rgb(255, 243, 251);
}

.normal {
  background-color: rgb(178, 178, 176);
  border-radius: 30px;
  text-align: center;
  color: black;
  padding: 5px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

[data-class="normal"] {
  background-color: rgb(225, 225, 210);
}

.grass {
  background-color: rgb(19, 107, 26);
  border-radius: 30px;
  text-align: center;
  padding: 5px;
  color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

[data-class="grass"] {
  background-color: rgb(97, 222, 107);
}

.fighting {
  background-color: rgb(90, 43, 0);
  border-radius: 30px;
  text-align: center;
  padding: 5px;
  color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

[data-class="fighting"] {
  background-color: rgb(140, 106, 91);
}

.ice {
  background-color: rgb(0, 255, 251);
  border-radius: 30px;
  text-align: center;
  padding: 5px;
  color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

[data-class="ice"] {
  background-color: rgb(145, 255, 253);
}

.bug {
  background-color: rgb(104, 196, 28);
  border-radius: 30px;
  text-align: center;
  padding: 5px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

[data-class="bug"] {
  background-color: rgb(173, 239, 118);
}

.ghost {
  background-color: rgb(53, 4, 75);
  border-radius: 30px;
  text-align: center;
  padding: 5px;
  color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

[data-class="ghost"] {
  background-color: rgb(135, 89, 156);
}

.dragon {
  background-color: rgb(96, 51, 164);
  border-radius: 30px;
  text-align: center;
  padding: 5px;
  color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

[data-class="dragon"] {
  background-color: rgb(165, 127, 223);
}

.dark {
  background-color: rgb(44, 4, 4);
  border-radius: 30px;
  text-align: center;
  padding: 5px;
  color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

[data-class="dark"] {
  background-color: rgb(113, 86, 86);
  color: white;
}